.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    grid grid-template-areas: 

    ;

}
header{
  grid-area: header;
}
    
section{
    grid-area: section;
  

}

article{
    grid-area: article;
}

aside{
    grid-area: asidew;
}
 
footer{
    grid-area: footer;
}
