.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    /* typo? */
    grid grid-template-areas: 

    ;

}

/* if you're using grid template area you have to define the rows and columns (refrence sprint documentation) */
header{
  grid-area: header;
}
    
section{
    grid-area: section;
  

}

article{
    grid-area: article;
}

aside{
    grid-area: asidew;
}
 
footer{
    grid-area: footer;
}
